
body
{
    /*background-image: url(https://www.ceupe.com/images/easyblog_images/168/b2ap3_thumbnail_almacen.png); */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    text-align: center;
    
}

.mensaje
{
    color: red;
}

header
{
    text-align: center;
}

.input-text
{
    color: rgb(255, 245, 245);
    background-color: rgb(39, 26, 5);
    font-family:monospace;
    outline: auto;
}



.linew
{
    
   background-color: rgb(0, 0, 0);
   
    
}

.nar
{
    background-color: rgb(255, 248, 252);
    color: rgb(0, 0, 0);
}

.check
{
    float: right;
    
}


.listanorm
{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 253, 253);
    font-size:130%;
    width:500px;
    padding: 2px;
    position: fixed;
    text-align: start;
    list-style: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}


.lista2
{
    text-align: center;
    
  

}

.listaCritico
{

    color: rgb(0, 0, 0);
    background-image: url(https://p.kindpng.com/picc/s/492-4921477_caution-green-hd-png-download.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size:130%;
    width:650px;
    padding: 2px;
    margin-left: auto;  
    text-align: start;
    list-style: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.critico
{
 
}






