
body
{
    background-color: rgb(233, 230, 230);
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
     flex-wrap: wrap;
   
}



.panel
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background-color: rgb(255, 247, 247);
    margin:0%;
    padding: 10px;
  
   
}



.a単adirL, .a単adirC , .borrar
{
    background-color: rgb(62, 64, 223);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    width: 10%;
    height: 40%;
 
    
}

.borrar:hover
{
    background-color: red;
    cursor: pointer;
}

.a単adirL:hover , .a単adirC:hover
{
    background-color: green;
    cursor: pointer;
}




.texto 
{  
    
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 40%;
    border: 2px solid rgb(194, 191, 191) ;
    border-radius: 20px;
    text-decoration: none;
    outline: none;
    font-size: 150%;
}




.huno
{
    background-color: rgb(236, 233, 233);
    margin: 0%;
    color: black;
    display: flex;
    justify-content: space-evenly;
    
    
}

.papi
{
   display: flex;
   justify-content: space-between;
}



.tableroListaUno
{

    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin: 1%;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    background-color: rgb(243, 239, 239);
    box-sizing: border-box;
    width: 50%;
}

.tableroListaDos
{
    display:;
    justify-content: right;
    align-items: flex-start;
    margin: 1%;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    background-color: rgb(243, 239, 239);
    box-sizing: border-box;
    width: 50%;
}



.titulo
{
    list-style: none;
    background-color: rgb(243, 239, 239);
    width: 50%;
    margin: 0%;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black ;
}

.titulo2
{
    list-style: none;
    background-color: rgb(243, 239, 239);
    margin: 0%;
    width: 50%;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black ;
}

.nar
{
     color: black;
     font-size: 140%;
     border-bottom: 2px solid black;
}

.check
{
    float: right;
}

