body{
    margin:0px;
    padding:0px;
    background-color: rgb(206, 206, 206);
}

.hiden
{
    background-color: rgb(206, 206, 206);;
    color:rgb(206, 206, 206);;
}

.revelado
{
    background-color: black;
    color: yellow;
}