html
{
    height: 100%;
}
body
{
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: rgb(255, 250, 250);
    display: flex;
    flex-direction: column;


}

.cabecera
{
    display: flex;
    flex: 0 0 auto;
 justify-content: space-evenly;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: rgb(16, 5, 177);
    color: yellow;
    border-top: 2px solid  rgb(6, 40, 63);
    border-bottom: 2px solid rgb(6, 40, 63);
    border-left: 2px solid rgb(6, 40, 63);
    border-right: 2px solid rgb(6, 40, 63);

}

.tituloDonato
{
   
    display: flex;
    margin: 0%;
    padding: 0%;
    list-style: none;
   width: 10%;

}


.link
{
    text-decoration: none;
    font-size: 150%;
  
}

.inicio_menu
{
    text-decoration: none;
    font-size: 150%;
    margin: 0%;
    
    color: yellow;
    box-sizing: border-box;
    width: 10%;
 
    list-style: none;
    text-align: center;
  
    text-decoration: none;
}


.tituloDonato1
{
  
    display: flex;
    margin: 0%;
    padding: 0%;
    list-style: none;
    font-size: 150%;
    width: 10%;

   
}





.divsito
{

    display: flex;
flex: 0 0;
}


.imagen1
{
   
    width: 50%;
    margin: 1%;
    border-top: 2px solid  rgb(6, 40, 63);
    border-bottom: 2px solid rgb(6, 40, 63);
    border-left: 2px solid rgb(6, 40, 63);
    border-right: 2px solid rgb(6, 40, 63);
}



.elemento
{
    display: flex;
    justify-content: start;
    border: 2px solid black;
}

.hiden
{
    background-color: rgb(15, 15, 15) ;
    color:rgb(255, 251, 251);;
    list-style: none;
    font-size: 150%;
    width: 4%;
    padding: 1%;
}

.revelado
{
    font-size: 150%;
    background-color: black;
    color: white;
    box-sizing: border-box;
    width: 10%;
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
    border-left: 2px solid yellow;
    border-right: 2px solid yellow;
    list-style: none;
    text-align: center;
}




.contact-footer
{
    color: rgb(196, 255, 78);
    display: flex;
    justify-content: start;

    margin: 0%;
    padding: 0%;
    flex:0 1;
    width: 100%;
    background-color:  rgb(16, 5, 177);;
    position: absolute;
    bottom: 0;
    width: 100%;
    






  
}

.p1-footer
{
    display: flex;
    margin: 1%;
    width: 50%;
}

.p2-footer
{
    display: flex;
    margin: 1%;
    width: 50%;
}
